# Academix Environment Variables

# PocketBase Configuration
NEXT_PUBLIC_POCKETBASE_URL=https://academixdb.codix.site
POCKETBASE_ADMIN_EMAIL=
POCKETBASE_ADMIN_PASSWORD=

# Galene WebRTC Configuration
NEXT_PUBLIC_GALENE_URL=http://localhost:8443

# Security
CRON_SECRET=
