# Academix Environment Variables

# PocketBase Configuration
NEXT_PUBLIC_POCKETBASE_URL=https://academixdb.codix.site
POCKETBASE_ADMIN_EMAIL=
POCKETBASE_ADMIN_PASSWORD=

# Security
CRON_SECRET=
INTERNAL_SECRET=
