# Academix Environment Variables

# PocketBase Configuration
NEXT_PUBLIC_POCKETBASE_URL=https://academixdb.codix.site
POCKETBASE_ADMIN_EMAIL=
POCKETBASE_ADMIN_PASSWORD=

# Galene WebRTC Configuration
NEXT_PUBLIC_GALENE_URL=https://academix-classroom.codix.site
GALENE_GROUPS_PATH=./services/galene/groups
GALENE_REMOTE_MANAGEMENT_URL=

# Security
CRON_SECRET=
INTERNAL_SECRET=
